@font-face {
    font-family: 'Press Start 2P', cursive;
    src: url('font/PressStart2P-Regular.ttf');
}
.maiN{
	-fx-background-image: url("images/back3.jpg");
	-fx-background-repeat: stretch;
	-fx-background-position: center center;
	-fx-background-size: cover;
}
.box{
	-fx-background-repeat: stretch;
	-fx-background-position: center center;
	-fx-background-size: cover;
}
.text{
	-fx-background-color: transparent;
	-fx-text-fill: white;
	-fx-font-size: 20;
	-fx-font-family: 'Press Start 2P', cursive;
}
.button{
	-fx-background-color: transparent;
	-fx-text-fill: white;
	-fx-font-size: 20;
	-fx-font-family: 'Press Start 2P', cursive;
}
.button:hover{
	-fx-text-fill:yellow;
}
.mana{
	-fx-accent: blue;
}
.health{
	-fx-accent: red;
}
.bottomNav{
	-fx-background-color: linear-gradient(to bottom right, #000099 26%, #000000 109%);
	-fx-border-color: #e6e8ed;
	-fx-border-width: 5;
	-fx-border-radius: 5;
	-fx-background-radius: 5;
	-fx-pref-width: 50%;
	-fx-padding: 0 0 5 0;
	-fx-alignment: top-left;
}
.cells{
	-fx-alignment: center;
}
.stat{
	-fx-padding: 30 0 0 0;
	-fx-pref-width: 100;
	-fx-border-color: black;
}
.ver{
	-fx-alignment: bottom-center;
}
.allBar{
	-fx-padding: 10;
	-fx-alignment: top-left;
}
.left{
	-fx-padding: 0 0 50 0;
}
.right{
	-fx-padding: 0 0 50 0;
}
.miss{
	-fx-text-fill: white;
	-fx-font-family: 'Press Start 2P', cursive;
	-fx-font-size: 25;
}
.damage{
	-fx-text-fill: red;
	-fx-font-family: 'Press Start 2P', cursive;
	-fx-font-size: 25;
}
.stunned{
	-fx-text-fill: yellow;
	-fx-font-family: 'Press Start 2P', cursive;
	-fx-font-size: 25;
}
.critical{
	-fx-text-fill: yellow;
	-fx-font-family: 'Press Start 2P', cursive;
	-fx-font-size: 25;
}
.shield{
	-fx-alignment: bottom-center;
}
.toLeft{
	-fx-alignment: center-left;
	-fx-padding: 2;
	-fx-spacing: 5;
}
.toRight{
	-fx-alignment: center-right;
	-fx-padding: 2;
	-fx-spacing: 5;
}
.jen{
	-fx-font-family: 'Press Start 2P', cursive;
	-fx-font-size: 150;
	-fx-pref-height: 150;
	-fx-text-fill: white;
}
.over{
	-fx-alignment: center;
	background-color: black;
}
.container{
	-fx-alignment: center;
}
